.b1{
    font-size: 30px;
    color: blue;
}
.border{
    text-align: left;
}
.p{
    font-size: 30px;
    color: blue;
}

.carousel-caption{
    text-align: center;
    color: rgb(19, 4, 4);  
}

.nav-item{
    padding: 30px;
   
}
.img1{
    width: 70px;
    border-radius: 50%;
}
.collapse .navbar-nav .nav-item .nav-link:hover{

background-color: rgb(93, 93, 162);
border-radius: 50%;


}
.c{
    color: blue;
    font-size: 30px;
}

