*{
    margin: 0px;
    padding: 0px;
}
 

.nav ul li{
    list-style: none;
    float: left;
    list-style: none;
    margin: 10px;
    display: inline;
}

li a{
   display: list-item;
   text-align: justify;
   text-decoration: none;
   font-family: 'Courier New', Courier, monospace;
        font-size: large;
        font-style: italic;
        text-shadow: 4px 4px 4px rgb(190, 37, 20);
        color: rgb(27, 26, 25);
        font-size: large;
        font-style: italic;
}
body{

    background-image: url(backg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    }
    H2{
        margin-left: 80px;
        font-family: 'Courier New', Courier, monospace;
        font-size: large;
        font-style: italic;
        text-shadow: 4px 4px 4px salmon;
    }
