 .one{ 
  border-radius: 50%; 
 width: 400px;height: 400px;
border-top: 10px solid red ;
border-bottom:5px dotted pink ;
border-left: 5px double yellow;
border-right: 5px solid blue;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;

/* .two{
    width: 400px;height: 400 px;
    border-left: 3px solid red;
    border-top: 3px solid yellow; */
    border-bottom: 3px solid red;
    border-right: 3px solid yellow;
    border-radius: 50%;

}
.three{
    width: 100px; height: 100;
}