/* .h{
    text-align: justify;
    text-decoration: none; 
    text-shadow: none;
     vertical-align: baseline;
     vertical-align: top;
     vertical-align: bottom;
     vertical-align: sub;
     vertical-align: super;
}  */

.h:hover{
    text-shadow: 2px 2px 2px red, 4px 4px 40px blue ; text-align: center;
    
    
    /* first for x sec for y third for the blur  four foencolor*/
}
.p2{
    box-shadow: 5px 5px 20px blue ,5px 4px 2px red;
text-align: justify; text-align: center; text-shadow: 1px 0px 1px red;margin-left: 30px; width: 700px;
text-decoration-style: wavy;
}
body{
    background-color: beige; box-shadow: 5px 5px 50px aqua; height: 500px; margin-left: 40px; margin-right: 40px;
}
.hd:hover{
     text-shadow: 4px 4px 4px blue; text-decoration-style: wavy; text-align: right;

}
.p1{
    box-shadow: 10px 10px 20px palevioletred;
    text-shadow: 2px 2px 1px palegreen; width: 700px; margin-top: 10px; margin-left: 40px;

}