/* logo header */
 *{
  margin: 0;padding: 0;
}

img {
    width: 100px;height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-top: 30px;
  }
  /* aiims name */
  .p1{   
    font-size: 30px;
    color: rgb(104, 57, 57);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .p1:hover{
    text-shadow: 2px 2px 4px rgb(197, 21, 21);
  }
  /* left side text of header */
  .p2{
    color: brown;
    margin-top: 20px;
  }
  /* HEADER BG  */
  .background .container-flud{
    background-image: url(hb.webp);                   
  } 
/* search bar */
  .d-flex{
    width: 400px;
    margin-left: 450px;
    /* margin-top: 5px; */
  }
  /* navbar */
.container-fluid{
  background-color: rgb(230, 92, 108);
  padding: 5px;
  height: 30px;
}
 .nav-item {
  margin: 15px;
 }
 .nav-link{
  color:white;
 }
 .dropdown-menu a{
    color: blue;
 }
 /* autoplay */
 .d-block{
    height: 400px;
    margin: 0px;
 }
/* icon */
.logo{
    border: 6px double red;
    border-radius: 50%;
  }
  /* effect of logo */
.container .row .col .logo:hover {         
    transform: scale(1.5); 
    background-color: rgb(218, 217, 225);               
  }
  
/* galary */
h3{
    color: brown;
}
.galary1{
    background-color: aliceblue;
    
}
.galary{
  padding: 10px;
    width: 250px;
    height: 300px;
    border: 2px solid rgb(179, 124, 124);
  }

  .col-2{
    margin-right: 70px;
    padding: 20px;
    width: 150px;
    height: 150;
  }
  hr{
    color: brown;
    size: 40px;
  }
  /* information */
 .card-img-top{
  height: 150px;
 }
 .card-text{
  color: brown;
 }
 /* .card-body{
  height: 200px;
 } */

/* about */
.last{
  background-color: rgb(85, 78, 78);
  /* width: 1500px; */
}
.last1{
  color: white;
  text-align: left;
}
.last2{
    color:white; 
    text-align: left;
}
.last2:hover{
    color: blue;
 
    /* background-color: blueviolet; */
}



