
.static{
    
    background-color: rgb(6, 97, 177);
     position: sticky; 
     left: 50px;
    height: 100px;
    width: 200px;
    color: rgb(177, 169, 185);
    border: 2px solid rgb(34, 25, 196);
    top: 0px;
   
}  
.p1{
    background-color: rgb(209, 191, 168);
    
}